{% extends 'SbbsFrontBundle::base.html.twig' %}
{% block title %}掲示板TOPページ{% endblock %}

{% block content %}
<h1>掲示板</h1>
	<table class="table table-hover">
		<thead>
			<tr>
				<th style="width:100px;">掲示板ID</th>
				<th>タイトル</th>
				<th style="width:100px;">作成時間</th>
			</tr>
		</thead>
		<tbody id="js-bbs-list">

		</tbody>
	</table>
{% endblock %}

{% block javascripts %}
<script>

</script>
{% endblock %}